body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #fff; /* Fondo blanco */
  margin: 0; 
}

.container {
  display: flex; 
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden; 
}

.left-column {
  width: 40%; 
  padding: 30px;
  background-color: #fff; 
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* Se elimina border-right de aquí */ 
}

.left-column p {
  font-size: 1.2em;
  color: #555; /* Gris oscuro */
  font-weight: bold; /* Negrita */
}

.right-column {
  width: 40%; 
  padding: 30px;
}

#logo {
  width: 150px;  
  display: block; 
  margin: 0 auto 20px; 
}

#idioma-selector {
  text-align: right;
  margin-bottom: 20px;
}

.form-container { 
  background-color: #fff;
  padding: 20px;
  border-radius: 20px; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  background-color: #9ACD32; /* Verde limón */
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
  width: 100%;
}

#google-login {
  background-color: #FFA07A; /* Naranja suave */
  margin-top: 10px;
}

.social-login {
  text-align: center;
}

.iniciar-sesion { 
  text-align: center;
  margin-top: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px; 
}

.iniciar-sesion a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold; /* Negrita */
}